.a{
    position: relative;
}
.a::after{
    width: 0;
    content: "";
    height: 3px;
    background-color:orangered;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.6s linear;
}
.a:hover::after{
    width: 100%;
}